alembic
asttokens
blinker
click
colorama
decorator
dnspython
email_validator
et_xmlfile
executing
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
ipython
ipython_pygments_lexers
itsdangerous
Jinja2
Mako
MarkupSafe
matplotlib-inline
mysql-connector-python
numpy
openpyxl
pandas
parso
prompt_toolkit
pure_eval
Pygments
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
stack-data
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
WTForms
gunicorn